table{
    width: 50%;
    float: right;
    font-size: 20px;
    margin-right: 15%;
    margin-top: 0.9%;
    vertical-align: middle;
}

table a{
    margin: 0%;
}

table th{
    text-align: left;
}

/*this property change whole page */
div{
    background-color: rgb(236, 236, 218);
}

.footerimage{
    margin-top: 0.9%;
    margin-bottom: 1.5%;
    margin-left: 2%;
}


.footer{
    background-color: rgb(89, 87, 87);
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

.c1{
    width: 50%;
}