table{
    width: 50%;
    float: right;
    font-size: 20px;
    margin-right: 5%;
    margin-top: 1.5%;
    vertical-align: middle;
}

table th{
    text-align: left;
    width: 50%;
}

.contact_logo{
    width: 7%;
}

/*this property change whole page */
div{
    background-color: rgb(236, 236, 218);
}

.footerimage{
    margin-top: 1.5%;
    margin-bottom: 2%;
    margin-left: 4%;
}

.footer{
    background-color: rgb(89, 87, 87);
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

td a:hover{
    text-decoration: underline;
    color: rgb(102, 163, 255);
}